/* Graphik */

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-400-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-500-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-600-Semibold.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-700-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 800;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-800-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-900-Super.otf) format('opentype');
}

/* Inter */

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter'), url(../fonts/Inter/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url(../fonts/Inter/Inter-Medium.ttf) format('truetype');
}

/* Climate Crisis */

@font-face {
  font-family: 'Climate Crisis';
  font-weight: 500;
  src: local('ClimateCrisis'), url(../fonts/ClimateCrisis/ClimateCrisis-Regular.ttf) format('truetype');
}

:root {
  --bodyFont: Inter, -apple-system, system-ui, sans-serif;
  --headerFont: Graphik, -apple-system, system-ui, sans-serif;

  --color1: #fff;
  --color2: #94a3b8;
  --color3: #64748b;
  --background1: #0f172a;
  --background2: #0c1222;
  --background3: #1e293b;
  --borderColor: #222222;

  --maxWidth: 900px;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  color: var(--color1);
  font-family: var(--bodyFont);
  font-weight: 400;
  background-size: 30px 30px;
  background-image: linear-gradient(to right, #0e0e0e 1px, transparent 1px),
    linear-gradient(to bottom, #0e0e0e 1px, transparent 1px);
  /* overflow: hidden; */
  width: 100vw;
  overflow-x: hidden;
}

html {
  background-color: #0a0a0a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border: 0;
  font-family: var(--bodyFont);
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 0.75rem;
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #242424;
}

/* main {
  height: calc(100vh - 60px);
  overflow: hidden auto;
}

@media (max-width: 600px) {
  main {
    height: auto;
    overflow: unset;
    max-height: 100%;
    position: relative;
  }

  body {
    height: auto;
    overflow: auto;
  }
} */
