/* Graphik */

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-400-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-500-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-600-Semibold.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-700-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 800;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-800-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-900-Super.otf) format('opentype');
}

/* Inter */

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter'), url(../fonts/Inter/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url(../fonts/Inter/Inter-Medium.ttf) format('truetype');
}

/* Climate Crisis */

@font-face {
  font-family: 'Climate Crisis';
  font-weight: 500;
  src: local('ClimateCrisis'), url(../fonts/ClimateCrisis/ClimateCrisis-Regular.ttf) format('truetype');
}

/* Animations */

@keyframes popin {
  from {
    transform: translateX(-50%) translateY(4px);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

:root {
  --bodyFont: Inter, -apple-system, system-ui, sans-serif;
  --headerFont: Graphik, -apple-system, system-ui, sans-serif;

  --color1: #fff;
  --color2: #94a3b8;
  --color3: #64748b;
  --background1: #0f172a;
  --background2: #0c1222;
  --background3: #1e293b;
  --borderColor: #222222;

  --maxWidth: 750px;
}

body {
  margin: 0;
  background-color: #0a0a0a;
  color: var(--color1);
  font-family: var(--bodyFont);
  font-weight: 400;
  background-size: 30px 30px;
  background-image: linear-gradient(to right, #0e0e0e 1px, transparent 1px),
    linear-gradient(to bottom, #0e0e0e 1px, transparent 1px);
  width: 100vw;
  overflow-x: hidden;
}

html {
  background-color: #0a0a0a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border: 0;
  font-family: var(--bodyFont);
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 0.75rem;
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #242424;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 6px);
  background: white;
  height: 27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  text-align: center;
  padding: 0 12px;
  display: none;
  align-items: center;
  border-radius: 50rem;
  font-weight: 600;
  color: #0a0a0a;
  pointer-events: none;
  animation: popin 0.2s forwards;
}

[data-tooltip]:hover::after {
  display: flex;
}
